{{template includes/header.htm}}

<h1 class="mb-3">Помощь к парсеру шаблонов</h1>

<div class="mb-4">
    <h4 class="mb-2">1. Удаление HTML-комментариев</h4>
    <p><strong>Назначение:</strong> Удаляет HTML-комментарии (<code>&lt;!-- ... --&gt;</code>), кроме условных для IE.</p>
    <pre class="p-2 border rounded"><code>&lt;!-- Это комментарий --&gt;
&lt;p&gt;Текст&lt;/p&gt;
&lt;!--[if IE]&gt;Специальный код для IE&lt;![endif]--&gt;</code></pre>
    <pre class="p-2 border rounded"><code>&lt;p&gt;Текст&lt;/p&gt;
&lt;!--[if IE]&gt;Специальный код для IE&lt;![endif]--&gt;</code></pre>
</div>

<div class="mb-4">
    <h4 class="mb-2">2. Вставка подшаблонов: <code>&#123;&#123;template footer&#125;&#125;</code></h4>
    <p><strong>Назначение:</strong> Включает подшаблон через <code>template()</code>.</p>
    <pre class="p-2 border rounded"><code>&#123;&#123;template footer&#125;&#125;</code></pre>
    <pre class="p-2 border rounded"><code>&lt;?php include template(str_replace('/', DIRECTORY_SEPARATOR, 'footer')); ?&gt;</code></pre>
</div>

<div class="mb-4">
    <h4 class="mb-2">3. Вставка файлов: <code>&#123;&#123;include file.php&#125;&#125;</code></h4>
    <p><strong>Назначение:</strong> Включает указанный файл.</p>
    <pre class="p-2 border rounded"><code>&#123;&#123;include header.php&#125;&#125;</code></pre>
    <pre class="p-2 border rounded"><code>&lt;?php include 'header.php'; ?&gt;</code></pre>
</div>

<div class="mb-4">
    <h4 class="mb-2">4. Вставка кода PHP (Не подерживает вложения): <code>&#123;&#123;php echo 'Hello';&#125;&#125;</code></h4>
    <p><strong>Назначение:</strong> Выполняет PHP-код.</p>
    <pre class="p-2 border rounded"><code>&#123;&#123;php echo 'Hello';&#125;&#125;</code></pre>
    <pre class="p-2 border rounded"><code>&lt;?php echo 'Hello'; ?&gt;</code></pre>
</div>

<div class="mb-4">
    <h4 class="mb-2">5. Блоки условий: <code>&#123;&#123;if условие&#125;&#125;</code></h4>
    <p><strong>Назначение:</strong> Преобразует условные блоки в PHP-код.</p>
    <pre class="p-2 border rounded"><code>&#123;&#123;if $var == 1&#125;&#125;
    &lt;p&gt;Переменная равна 1&lt;/p&gt;
&#123;&#123;elseif $var == 2&#125;&#125;
    &lt;p&gt;Переменная равна 2&lt;/p&gt;
&#123;&#123;else&#125;&#125;
    &lt;p&gt;Переменная не равна 1 или 2&lt;/p&gt;
&#123;&#123;/if&#125;&#125;</code></pre>
    <pre class="p-2 border rounded"><code>&lt;?php if($var == 1) { ?&gt;
    &lt;p&gt;Переменная равна 1&lt;/p&gt;
&lt;?php } elseif ($var == 2) { ?&gt;
    &lt;p&gt;Переменная равна 2&lt;/p&gt;
&lt;?php } else { ?&gt;
    &lt;p&gt;Переменная не равна 1 или 2&lt;/p&gt;
&lt;?php } ?&gt;</code></pre>
</div>

<div class="mb-4">
    <h4 class="mb-2">6. Циклы <code>for</code>: <code>&#123;&#123;for условие&#125;&#125;</code></h4>
    <p><strong>Назначение:</strong> Преобразует циклы <code>for</code> в PHP-код.</p>
    <pre class="p-2 border rounded"><code>&#123;&#123;for $i = 0; $i &lt; 10; $i++&#125;&#125;
    &lt;p&gt;Итерация: &#123;&#123;$i&#125;&#125;&lt;/p&gt;
&#123;&#123;endfor&#125;&#125;</code></pre>
    <pre class="p-2 border rounded"><code>&lt;?php for ($i = 0; $i &lt; 10; $i++) { ?&gt;
    &lt;p&gt;Итерация: &lt;?php echo $i; ?&gt;&lt;/p&gt;
&lt;?php } ?&gt;</code></pre>
</div>

<div class="mb-4">
    <h4 class="mb-2">7. Циклы <code>foreach</code>: <code>&#123;&#123;loop массив переменная&#125;&#125;</code></h4>
    <p><strong>Назначение:</strong> Преобразует циклы <code>foreach</code> в PHP-код.</p>
    <pre class="p-2 border rounded"><code>&#123;&#123;loop $items $item&#125;&#125;
    &lt;p&gt;&#123;&#123;$item&#125;&#125;&lt;/p&gt;
&#123;&#123;/loop&#125;&#125;</code></pre>
    <pre class="p-2 border rounded"><code>&lt;?php if(is_array($items)) foreach($items AS $item) { ?&gt;
    &lt;p&gt;&lt;?php echo $item; ?&gt;&lt;/p&gt;
&lt;?php } ?&gt;</code></pre>
</div>

<div class="mb-4">
    <h4 class="mb-2">8. Вставка функций PHP: <code>&#123;&#123;time()&#125;&#125;</code></h4>
    <p><strong>Назначение:</strong> Выводит результат функции PHP.</p>
    <pre class="p-2 border rounded"><code>&#123;&#123;time()&#125;&#125;</code></pre>
    <pre class="p-2 border rounded"><code>&lt;?php echo time(); ?&gt;</code></pre>
</div>

<div class="mb-4">
    <h4 class="mb-2">9. Вставка переменных: <code>&#123;&#123;$variable&#125;&#125;</code></h4>
    <p><strong>Назначение:</strong> Выводит значения переменных.</p>
    <pre class="p-2 border rounded"><code>&#123;&#123;$user.name&#125;&#125;
&#123;&#123;$items[0]&#125;&#125;
&#123;&#123;$object-&gt;property&#125;&#125;</code></pre>
    <pre class="p-2 border rounded"><code>&lt;?php echo $user.name; ?&gt;
&lt;?php echo $items[0]; ?&gt;
&lt;?php echo $object-&gt;property; ?&gt;</code></pre>
</div>

<div class="mb-4">
    <h4 class="mb-2">10. Вставка констант PHP: <code>&#123;&#123;SITE_NAME&#125;&#125;</code></h4>
    <p><strong>Назначение:</strong> Выводит значения констант.</p>
    <pre class="p-2 border rounded"><code>&#123;&#123;SITE_NAME&#125;&#125;</code></pre>
    <pre class="p-2 border rounded"><code>&lt;?php echo SITE_NAME; ?&gt;</code></pre>
</div>

<div class="mb-4">
    <h4 class="mb-2">11. Защита от прямого доступа к файлу</h4>
    <p><strong>Назначение:</strong> Предотвращает прямой доступ к файлу.</p>
    <pre class="p-2 border rounded"><code>&lt;?php if(!defined('BOARD'))die('Access Denied'); ?&gt;</code></pre>
</div>

<div class="mb-4">
    <h4 class="mb-2">12. Удаление лишних пробелов и переносов строк</h4>
    <p><strong>Назначение:</strong> Оптимизирует шаблон.</p>
    <pre class="p-2 border rounded"><code>&lt;div&gt;
    &lt;p&gt;Текст&lt;/p&gt;
&lt;/div&gt;</code></pre>
    <pre class="p-2 border rounded"><code>&lt;div&gt;&lt;p&gt;Текст&lt;/p&gt;&lt;/div&gt;</code></pre>
</div>

<div class="mb-4">
    <h4 class="mb-2">13. Минификация JavaScript и CSS</h4>
    <p><strong>Назначение:</strong> Минифицирует JavaScript и CSS.</p>
    <pre class="p-2 border rounded"><code>&lt;script&gt;
    function test() {
        console.log('Hello');
    }
&lt;/script&gt;</code></pre>
    <pre class="p-2 border rounded"><code>&lt;script&gt;function test(){console.log('Hello');}&lt;/script&gt;</code></pre>
</div>

{{template includes/footer.htm}}
