{{php if ( !$user->isCurrentRole('Admin'))die('Access Denied'); }}
<!-- Боковая панель -->
<div class="p-3" id="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-reset" href="?page=index.htm&isAdmin=true">{{t('Resource Monitor')}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-reset" href="?page=users.htm&isAdmin=true">{{t('Users')}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-reset" href="?page=settings.htm&isAdmin=true">{{t('Settings')}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-reset" href="?page=translations.htm&isAdmin=true">{{t('Translations')}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-reset" href="?page=log.htm&isAdmin=true">{{t('Logs')}}</a>
        </li>        
        <li class="nav-item">
            <a class="nav-link text-reset" href="?page=index.htm">{{t('Home Page')}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-reset" href="?page=logout.htm&isAdmin=true">{{t('Logout')}}</a>
        </li>
    </ul>
</div>

